<div id="container">
	
	<div id="header"></div>
	<div id="rheader"></div>

	<div id="content">
		
<script src="./Eskimo Twins_files/fixbox.js" type="text/javascript"></script>


<div id="blocksWrapper" style="position:relative; margin:0px; margin-left:auto; margin-right:auto; border:0px; padding:0px; width:98%; overflow:hidden;">
	<div id="blocksPage" style="position: relative; border: 0px; padding: 0px; margin: 0px auto; top: 0px; left: 0px; width: 650px; height: 612px; overflow: hidden;">


		<!-- Block 0 -->
		<div id="id0_outside" style="  overflow:hidden; margin:0px; padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px; position:absolute; left:20px; top:9px; width:601px; height:360px;">
			<div id="id0_inside">
				<%= image_tag("blocks_image_0_1.png", :style => "border:0px; margin:0px; padding:0px; background-color:transparent; border-style:none;", :class => "imageStyle",  :alt => "",  :width => "601", :height => "360") %>
			</div>
		</div>

		<!-- Block 1 -->
		<div id="id1_outside" style="  overflow:hidden; margin:0px; padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px; position:absolute; left:24px; top:426px; width:145px; height:145px;"><div id="id1_inside">
			
			<%= link_to(image_tag("blocks_image_1_1.png", :id => "blocks_image_1", :onmouseover => "src=&#39;blocks_rollover_1_1.png&#39;;yhIEPngFix(this);",  :onmouseout => "this.src=&#39;blocks_image_1_1.png&#39;;yhIEPngFix(this);", :style => "border:0px; margin:0px; padding:0px; background-color:transparent; border-style:none;", :class => "imageStyle",  :alt => "", :width => "145", :height => "145"), "http://www.soundcloud.com/eskimotwins") %>
			
			</div></div>

		<!-- Block 2 -->
		<div id="id2_outside" style="  overflow:hidden; margin:0px; padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px; position:absolute; left:467px; top:422px; width:145px; height:145px;"><div id="id2_inside">
			
			<%= link_to(image_tag("blocks_image_2_1.png", :id => "blocks_image_1", :onmouseover => "src=&#39;blocks_rollover_2_1.png&#39;;yhIEPngFix(this);",  :onmouseout => "this.src=&#39;blocks_image_2_1.png&#39;;yhIEPngFix(this);", :style => "border:0px; margin:0px; padding:0px; background-color:transparent; border-style:none;", :class => "imageStyle",  :alt => "", :width => "145", :height => "145"), "http://www.mixcloud.com/eskimotwins/") %>
			
			</div></div>

		<!-- Block 3 -->
		<div id="id3_outside" style="  overflow:hidden; margin:0px; padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px; position:absolute; left:245px; top:429px; width:145px; height:145px;"><div id="id3_inside">
			
			
			<%= link_to(image_tag("blocks_image_3_1.png", :id => "blocks_image_1", :onmouseover => "src=&#39;blocks_rollover_3_1.png&#39;;yhIEPngFix(this);",  :onmouseout => "this.src=&#39;blocks_image_3_1.png&#39;;yhIEPngFix(this);", :style => "border:0px; margin:0px; padding:0px; background-color:transparent; border-style:none;", :class => "imageStyle",  :alt => "", :width => "145", :height => "145"), "http://www.residentadvisor.net/dj/eskimotwins") %>
			
			</div></div>

		<!-- Block 4 -->
		<div id="id4_outside" style="  overflow:hidden; margin:0px; padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px; position:absolute; left:226px; top:396px; width:180px; height:37px;"><div id="id4_inside">
			
			<%= link_to(image_tag("blocks_image_4_1.png", :id => "blocks_image_1", :onmouseover => "src=&#39;blocks_rollover_4_1.png&#39;;yhIEPngFix(this);",  :onmouseout => "this.src=&#39;blocks_image_4_1.png&#39;;yhIEPngFix(this);", :style => "border:0px; margin:0px; padding:0px; background-color:transparent; border-style:none;", :class => "imageStyle",  :alt => "", :width => "180", :height => "37"), "http://www.facebook.com/pages/Eskimo-Twins/53958297347") %>
			
			</div></div>

		<!-- Block 5 -->
		<div id="id5_outside" style="  overflow:hidden; margin:0px; padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px; position:absolute; left:455px; top:398px; width:180px; height:35px;"><div id="id5_inside">
			
			<%= link_to(image_tag("blocks_image_5_1.png", :id => "blocks_image_1", :onmouseover => "src=&#39;blocks_rollover_5_1.png&#39;;yhIEPngFix(this);",  :onmouseout => "this.src=&#39;blocks_image_5_1.png&#39;;yhIEPngFix(this);", :style => "border:0px; margin:0px; padding:0px; background-color:transparent; border-style:none;", :class => "imageStyle",  :alt => "", :width => "180", :height => "35"), "http://www.twitter.com/eskimotwins") %>
			
			</div></div>

		<!-- Block 6 -->
		<div id="id6_outside" style="  overflow:hidden; margin:0px; padding-left:2px; padding-right:2px; padding-top:5px; padding-bottom:5px; position:absolute; left:216px; top:576px; width:215px; height:26px;"><div id="id6_inside"><span style="font-size:11px; color:#000000;font-weight:bold; ">Eskimo Twins</span><span style="font-size:11px; color:#000000;"> - </span><span style="font-size:11px; color:#000000;"><a href="mailto:info@eskimotwins.com">info(at)eskimotwins.com</a></span></div></div>

		<!-- Block 7 -->
		<div id="id7_outside" style="  overflow:hidden; margin:0px; padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px; position:absolute; left:27px; top:392px; width:141px; height:51px;"><div id="id7_inside">
			
			<%= link_to(image_tag("blocks_image_7_1.png", :id => "blocks_image_1", :onmouseover => "src=&#39;blocks_rollover_7_1.png&#39;;yhIEPngFix(this);",  :onmouseout => "this.src=&#39;blocks_image_7_1.png&#39;;yhIEPngFix(this);", :style => "border:0px; margin:0px; padding:0px; background-color:transparent; border-style:none;", :class => "imageStyle",  :alt => "", :width => "141", :height => "51"), "http://www.discogs.com/artist/Eskimo+Twins") %>
			
			</div></div>

		<script type="text/javascript">
			blocks_growparent('blocksPage');
		</script>

	</div>
</div>

<script type="text/javascript">
	var blocks_preload = {};
	blocks_preload[1] = new Image();
	blocks_preload[1].src = './assets/images/blocks_rollover_1_1.png';
	blocks_preload[2] = new Image();
	blocks_preload[2].src = 'files/blocks_rollover_2_1.png';
	blocks_preload[3] = new Image();
	blocks_preload[3].src = 'files/blocks_rollover_3_1.png';
	blocks_preload[4] = new Image();
	blocks_preload[4].src = 'files/blocks_rollover_4_1.png';
	blocks_preload[5] = new Image();
	blocks_preload[5].src = 'files/blocks_rollover_5_1.png';
	blocks_preload[7] = new Image();
	blocks_preload[7].src = 'files/blocks_rollover_7_1.png';
</script>

<script type="text/javascript">
	var fixable = new Array ('id6','');
	blocks_fixbox(fixable);
</script>			
	</div>
	
	<div id="footer"></div>
	<div id="rfooter"></div>
	
</div>